.shell-script.text.inspector {
  font-family: monospace;
  color: black;
  background-color: lightyellow;
  border: 1px darkgray solid;
  padding-top: 6px;
  padding-bottom: 6px;
}

.shell-script .gutter {
  display: block;
  float: left;
  font-family: monospace;
  color: inherit;
  background-color: lightyellow;
  border: none;
  padding: 0px;
}

.shell-script .content {
  display: block;
  font-family: monospace;
  color: inherit;
  background-color: inherit;
  border: none;
  padding: 0px;
}

.shell-script .line-number.first {
  padding-top: 6px;
}

.shell-script .line-number.last {
  padding-bottom: 6px;
}

.shell-script .line-number {
  color: black;
  background-color: lightgray;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 6px;
  border-right: 3px darkgray solid;
  margin-right: 6px;
}

.shell-script .prompt {
  font-weight: bold;
  color: darkgray;
}

.shell-script .command {
  color: black;
  cursor: default;
}
