table
{
    border-collapse: collapse;
}

th
{
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

td
{
    vertical-align: top;
}

/* firefox bug? the border from somewhere leaks here
   so we need to explicitly reset it */
a img
{
  border-width: 0px;
}

.rendering-error
{
    color: red;
}

.debug-component
{
    padding: 1px;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
}

.debug-component-name
{
    font-size: 10;
    color: purple;
}

.class-detail
{
    border-style: solid;
}

.standard-object-detail
{
    border-style: solid;
}

.list
{
    border-style: dotted;
}

.standard-object-table
{
    border-style: solid;
    border-width: 1px;
}

.standard-object-table > thead > tr > th
{
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

.standard-object-table > div > table > tbody > tr > td
{
    border-style: solid;
    border-width: 1px;
}

.reference-list
{
    border-style: dotted;
}

.standard-object-filter
{
    border-style: dashed;
}

.command-bar
{
    border-style: double;
}

.command-bar td
{
    border-style: none;
}
