body.tundra
{
  color: black;
  background-color: white;
//  background-image: url('/static/wui/image/about/dwim-logo.png');
//  background-position: top right;
//  background-repeat: no-repeat;
  font-family: 'Tahoma';
  font-size: 12px;
}

#container
{
  float: left;
  width: 100px;
}

/* external link */

a.external-link
{
  padding-right: 12px;
  background-image: url('/static/wui/icon/10x10/arrow-out.png');
  background-repeat: no-repeat;
  background-position: right center;
  color: darkblue;
}

.external-link:hover
{
  text-decoration: underline;
}

/* lisp form */

.lisp-form {
  font-family: Courier New;
}

.lisp-form .token {
  font-style: italic;
}

.lisp-form .string {
  color: darkgreen;
}

.lisp-form .number {
  color: darkgreen;
}

.lisp-form .lambda-list-keyword {
  color: darkblue;
}

.lisp-form .special-form {
  color: darkred;
}

.lisp-form .definition .def {
  color: darkred;
}

.lisp-form .definition .kind {
  color: darkblue;
  font-weight: bold;
}

.lisp-form .definition .name {
  color: darkred;
  font-weight: bold;
}

/* book */

.book .title {
  font-size: 24px;
}

.chapter .title {
  font-size: 18px;
}

/* tree */

.node.level-0
{
  padding-left: 0em;
}

/* NOTE: the 1em values all the way down is not an accident, they are divs, so they are nested */
.node.level-1
{
  padding-left: 1em;
}

.node.level-2
{
  padding-left: 1em;
}

.node.level-3
{
  padding-left: 1em;
}

.node.level-4
{
  padding-left: 1em;
}

.node.level-5
{
  padding-left: 1em;
}

.node.level-6
{
  padding-left: 1em;
}

.node.level-7
{
  padding-left: 1em;
}

.node.level-8
{
  padding-left: 1em;
}

.node.level-9
{
  padding-left: 1em;
}

/* odd even */

.odd {
  background-color: #ddffdd;
}

.even {
  background-color: #ffffff;
}

/* selection, highlight */

.selectable {
  cursor: pointer;
}

.selected
{
  background-image: url('/static/wui/image/table-row/background-selected.png');
  background-repeat: repeat-x;
  background-color: #d1f4fc;
}

.filter-result
{
  background-image: url('/static/wui/image/table-row/background-filtered.png');
  background-repeat: repeat-x;
  background-color: #cbf6c1;
}

.highlighted
{
  background-image: url('/static/wui/image/table-row/background-highlighted.png');
  background-repeat: repeat-x;
  background-color: #fdfac8;
}

/* table */

table
{
  border-collapse: collapse;
}

th
{
  background-color: lightgray;
  border-style: solid;
  border-width: 1px;
}

td
{
  vertical-align: top;
}

/* tree */

table.tree > tbody > tr > td.expander img
{
  padding-right: 6px;
}

table.tree > tbody > tr > td > .non-expandable
{
  padding-left: 17px; /* 11px missing img + 6px right padding */
}

table.tree > tbody > tr.level-0 > td.expander
{
  padding-left: 0em;
}

table.tree > tbody > tr.level-1 > td.expander
{
  padding-left: 1em;
}

table.tree > tbody > tr.level-2 > td.expander
{
  padding-left: 2em;
}

table.tree > tbody > tr.level-3 > td.expander
{
  padding-left: 3em;
}

table.tree > tbody > tr.level-4 > td.expander
{
  padding-left: 4em;
}

table.tree > tbody > tr.level-5 > td.expander
{
  padding-left: 5em;
}

table.tree > tbody > tr.level-6 > td.expander
{
  padding-left: 6em;
}

table.tree > tbody > tr.level-7 > td.expander
{
  padding-left: 7em;
}

table.tree > tbody > tr.level-8 > td.expander
{
  padding-left: 8em;
}

table.tree > tbody > tr.level-9 > td.expander
{
  padding-left: 9em;
}

/*
  standard-object-tree-nested-box
*/

.standard-object-tree-nested-box table
{
  margin: 1em;
}

/* this screws up opera
.standard-object-tree-nested-box table.node
{
  width: 100%;
}
*/

.standard-object-tree-nested-box .leaf td
{
  border-style: none;
}

.standard-object-tree-nested-box td
{
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
}

.standard-object-tree-nested-box .node thead
{
  background-color: lightskyblue;
}

/*
  extended-table
*/

table.extended-table
{
  border-style: solid;
  border-width: 1px;
}

table.extended-table > tbody > tr > td
{
  vertical-align: middle;
  text-align: center;
}

table.extended-table > tbody> tr > td.header
{
  background-color: lightgreen;
  padding: 3px;
  border-style: dotted;
  border-width: 1px;
}

table.extended-table > tbody > tr > td.axis
{
  background-color: lightgreen;
}

table.extended-table > tbody > tr > td.separator
{
  background-color: yellow;
}

table.extended-table > tbody > tr > td.row-tooltip
{
  background-color: yellow;
  height: 5px;
  border-style: solid;
  border-width: 1px;
}

table.extended-table > tbody > tr > td.column-tooltip
{
  background-color: yellow;
  width: 5px;
  border-style: solid;
  border-width: 1px;
}

table.extended-table > tbody > tr > td.data
{
  padding: 3px;
  border-style: dotted;
  border-width: 1px;
}

table.extended-table > tbody > tr > td.hidden
{
  background-color: lightgray;
}

table.extended-table > tbody > tr > td.total
{
  font-weight: bold;
  padding: 3px;
  background-color: yellow;
  border-style: solid;
  border-width: 1px;
}

/* command bar */

.command-bar a
{
  margin-right: 1em;
}

/*
  frame size breakdown
*/

table.frame-size-breakdown
{
  margin: 10px;
}

table.frame-size-breakdown > tbody > tr.total-row
{
  font-weight: bold;
}

table.frame-size-breakdown > tbody > tr > td.last
{
  color: gray;
}

table.frame-size-breakdown > tbody > tr > td.delta
{
  color: gray;
}

/*
  file download
*/

.file-download .missing-file
{
  color: red;
}

/*
  filter
*/
.ignore-in-filter
{
  opacity: 0.3;
}

/*
  filter predicate
*/

.predicate-equal {
  background-image: url('/static/wui/icon/20x20/equal-sign.png');
  width: 20px;
  height: 20px;
}

.predicate-like {
  background-image: url('/static/wui/icon/20x20/tilde.png');
  width: 20px;
  height: 20px;
}

.predicate-less-than {
  background-image: url('/static/wui/icon/20x20/less-than-sign.png');
  width: 20px;
  height: 20px;
}

.predicate-less-than-or-equal {
  background-image: url('/static/wui/icon/20x20/less-than-or-equal-sign.png');
  width: 20px;
  height: 20px;
}

.predicate-greater-than {
  background-image: url('/static/wui/icon/20x20/greater-than-sign.png');
  width: 20px;
  height: 20px;
}

.predicate-greater-than-or-equal {
  background-image: url('/static/wui/icon/20x20/greater-than-or-equal-sign.png');
  width: 20px;
  height: 20px;
}

/* box-border */

.box-border > thead > tr 
{
  height: 11px;
}

.box-border > thead > tr > .border-left
{
  width: 11px;
  background-image: url('/static/wui/image/content-box/border-top-left.png');
  background-repeat: no-repeat;
}

.box-border > thead > tr > .border-left > .decoration
{
  width: 11px;
  height: 11px;
}

.box-border > thead > tr > .border-center
{
  background-image: url('/static/wui/image/content-box/border-top-center-decorated.png');
  background-repeat: repeat-x;
}

.box-border > thead > tr > .border-right
{
  width: 11px;
  background-image: url('/static/wui/image/content-box/border-top-right.png');
  background-repeat: no-repeat;
}

.box-border > thead > tr > .border-right > .decoration
{
  width: 11px;
  height: 11px;
}

.box-border > tfoot > tr 
{
  height: 11px;
}

.box-border > tfoot > tr > .border-left
{
  width: 11px;
  background-image: url('/static/wui/image/content-box/border-bottom-left.png');
  background-repeat: no-repeat;
}

.box-border > tfoot > tr > .border-center
{
  background-image: url('/static/wui/image/content-box/border-bottom-center.png');
  background-repeat: repeat-x;
}

.box-border > tfoot > tr > .border-right
{
  width: 11px;
  background-image: url('/static/wui/image/content-box/border-bottom-right.png');
  background-repeat: no-repeat;
}

.box-border > tbody > tr > .border-left
{
  width: 11px;
  background-image: url('/static/wui/image/content-box/border-center-left-decorated.png');
  background-repeat: repeat-y;
}

.box-border > tbody > tr > .border-center
{
  background-image: url('/static/wui/image/content-box/border-center-center-gradient.png');
  background-repeat: repeat-x;
  background-color: white;
}

.box-border > tbody > tr > .border-right
{
  width: 11px;
  background-image: url('/static/wui/image/content-box/border-center-right-large.png');
  background-repeat: repeat-y;
}

/* box-header */

.title-border 
{
  color: white;
  width: 100%;
  margin-bottom: 6px;
}

.title-border > thead > tr
{
  height: 2px;
}

.title-border > thead > tr > .border-left
{
  width: 2px;
  background-image: url('/static/wui/image/title-box/border-top-left.png');
  background-repeat: no-repeat;
}

.title-border > thead > tr > .border-center
{
  background-image: url('/static/wui/image/title-box/border-top-center.png');
  background-repeat: repeat-x;
}

.title-border > thead > tr > .border-right
{
  width: 2px;
  background-image: url('/static/wui/image/title-box/border-top-right.png');
  background-repeat: no-repeat;
}

.title-border > tfoot > tr
{
  height: 2px;
}

.title-border > tfoot > tr > .border-left
{
  width: 2px;
  background-image: url('/static/wui/image/title-box/border-bottom-left.png');
  background-repeat: no-repeat;
}

.title-border > tfoot > tr > .border-center
{
  background-image: url('/static/wui/image/title-box/border-bottom-center.png');
  background-repeat: repeat-x;
}

.title-border > tfoot > tr > .border-right
{
  width: 2px;
  background-image: url('/static/wui/image/title-box/border-bottom-right.png');
  background-repeat: no-repeat;
}

.title-border > tbody > tr > .border-left
{
  background-image: url('/static/wui/image/title-box/border-center-left.png');
  background-repeat: repeat-y;
}

.title-border > tbody > tr > .border-center
{
  padding: 2px 5px 3px 5px;
  background-color: #052e3e;
  background-image: url('/static/wui/image/title-box/border-center-center-decorated.png');
  background-repeat: repeat-x;
}

.title-border > tbody > tr > .border-right
{
  background-image: url('/static/wui/image/title-box/border-center-right.png');
  background-repeat: repeat-y;
}

.table-header-border 
{
  color: black;
  width: 100%;
  margin-bottom: 6px;
}

.table-header-border > thead > tr
{
  height: 2px;
}

.table-header-border > thead > tr > .border-left
{
  width: 2px;
  background-image: url('/static/wui/image/column-box/border-top-left.png');
  background-repeat: no-repeat;
}

.table-header-border > thead > tr > .border-center
{
  background-image: url('/static/wui/image/column-box/border-top-center.png');
  background-repeat: repeat-x;
}

.table-header-border > thead > tr > .border-right
{
  width: 2px;
  background-image: url('/static/wui/image/column-box/border-top-right.png');
  background-repeat: no-repeat;
}

.table-header-border > tfoot > tr
{
  height: 2px;
}

.table-header-border > tfoot > tr > .border-left
{
  width: 2px;
  background-image: url('/static/wui/image/column-box/border-bottom-left.png');
  background-repeat: no-repeat;
}

.table-header-border > tfoot > tr > .border-center
{
  background-image: url('/static/wui/image/column-box/border-bottom-center.png');
  background-repeat: repeat-x;
}

.table-header-border > tfoot > tr > .border-right
{
  width: 2px;
  background-image: url('/static/wui/image/column-box/border-bottom-right.png');
  background-repeat: no-repeat;
}

.table-header-border > tbody > tr > .border-left
{
  background-image: url('/static/wui/image/column-box/border-center-left.png');
  background-repeat: repeat-y;
}

.table-header-border > tbody > tr > .border-center
{
  padding: 2px 5px 3px 5px;
  background-color: #73a1b4;
  background-image: url('/static/wui/image/column-box/border-center-center.png');
  background-repeat: repeat-x;
}

.table-header-border > tbody > tr > .border-right
{
  background-image: url('/static/wui/image/column-box/border-center-right.png');
  background-repeat: repeat-y;
}

.slot-group-header-border 
{
  color: black;
  width: 100%;
  margin-bottom: 6px;
}

.slot-group-header-border > thead > tr
{
  height: 2px;
}

.slot-group-header-border > thead > tr > .border-left
{
  width: 2px;
  background-image: url('/static/wui/image/column-box/border-top-left.png');
  background-repeat: no-repeat;
}

.slot-group-header-border > thead > tr > .border-center
{
  background-image: url('/static/wui/image/column-box/border-top-center.png');
  background-repeat: repeat-x;
}

.slot-group-header-border > thead > tr > .border-right
{
  width: 2px;
  background-image: url('/static/wui/image/column-box/border-top-right.png');
  background-repeat: no-repeat;
}

.slot-group-header-border > tfoot > tr
{
  height: 2px;
}

.slot-group-header-border > tfoot > tr > .border-left
{
  width: 2px;
  background-image: url('/static/wui/image/column-box/border-bottom-left.png');
  background-repeat: no-repeat;
}

.slot-group-header-border > tfoot > tr > .border-center
{
  background-image: url('/static/wui/image/column-box/border-bottom-center.png');
  background-repeat: repeat-x;
}

.slot-group-header-border > tfoot > tr > .border-right
{
  width: 8px;
  background-image: url('/static/wui/image/column-box/border-bottom-right.png');
  background-repeat: no-repeat;
}

.slot-group-header-border > tbody > tr > .border-left
{
  background-image: url('/static/wui/image/column-box/border-center-left.png');
  background-repeat: repeat-y;
}

.slot-group-header-border > tbody > tr > .border-center
{
  padding: 2px 5px 3px 5px;
  background-color: #73a1b4;
  background-image: url('/static/wui/image/column-box/border-center-center.png');
  background-repeat: repeat-x;
}

.slot-group-header-border > tbody > tr > .border-right
{
  background-image: url('/static/wui/image/column-box/border-center-right.png');
  background-repeat: repeat-y;
}

.close-naturális-mutató-kitöltés.error
{
  color: yellow;
  font-weight: bold;
}

/* error message */

.error-message 
{
  color: white;
  width: 100%;
  margin-bottom: 6px;
}

.error-message > thead > tr
{
  height: 2px;
}

.error-message > thead > tr > .border-left
{
  width: 2px;
  background-image: url('/static/wui/image/error-box/border-top-left.png');
  background-repeat: no-repeat;
}

.error-message > thead > tr > .border-center
{
  background-image: url('/static/wui/image/error-box/border-top-center.png');
  background-repeat: repeat-x;
}

.error-message > thead > tr > .border-right
{
  width: 2px;
  background-image: url('/static/wui/image/error-box/border-top-right.png');
  background-repeat: no-repeat;
}

.error-message > tfoot > tr
{
  height: 2px;
}

.error-message > tfoot > tr > .border-left
{
  width: 2px;
  background-image: url('/static/wui/image/error-box/border-bottom-left.png');
  background-repeat: no-repeat;
}

.error-message > tfoot > tr > .border-center
{
  background-image: url('/static/wui/image/error-box/border-bottom-center.png');
  background-repeat: repeat-x;
}

.error-message > tfoot > tr > .border-right
{
  width: 2px;
  background-image: url('/static/wui/image/error-box/border-bottom-right.png');
  background-repeat: no-repeat;
}

.error-message > tbody > tr > .border-left
{
  background-image: url('/static/wui/image/error-box/border-center-left.png');
  background-repeat: repeat-y;
}

.error-message > tbody > tr > .border-center
{
  padding: 2px 5px 3px 5px;
  background-color: #540f05;
  background-image: url('/static/wui/image/error-box/border-center-center-decorated.png');
  background-repeat: repeat-x;
}

.error-message > tbody > tr > .border-right
{
  background-image: url('/static/wui/image/error-box/border-center-right.png');
  background-repeat: repeat-y;
}

/* warning message */

.warning-message 
{
  color: black;
  width: 100%;
  margin-bottom: 6px;
}

.warning-message > thead > tr
{
  height: 2px;
}

.warning-message > thead > tr > .border-left
{
  width: 2px;
  background-image: url('/static/wui/image/warning-box/border-top-left.png');
  background-repeat: no-repeat;
}

.warning-message > thead > tr > .border-center
{
  background-image: url('/static/wui/image/warning-box/border-top-center.png');
  background-repeat: repeat-x;
}

.warning-message > thead > tr > .border-right
{
  width: 2px;
  background-image: url('/static/wui/image/warning-box/border-top-right.png');
  background-repeat: no-repeat;
}

.warning-message > tfoot > tr
{
  height: 2px;
}

.warning-message > tfoot > tr > .border-left
{
  width: 2px;
  background-image: url('/static/wui/image/warning-box/border-bottom-left.png');
  background-repeat: no-repeat;
}

.warning-message > tfoot > tr > .border-center
{
  background-image: url('/static/wui/image/warning-box/border-bottom-center.png');
  background-repeat: repeat-x;
}

.warning-message > tfoot > tr > .border-right
{
  width: 8px;
  background-image: url('/static/wui/image/warning-box/border-bottom-right.png');
  background-repeat: no-repeat;
}

.warning-message > tbody > tr > .border-left
{
  vertical-align: top;
  background-image: url('/static/wui/image/warning-box/border-center-left.png');
  background-repeat: repeat-y;
}

.warning-message > tbody > tr > .border-center
{
  padding: 2px 5px 3px 5px;
  background-color: #e5d50b;
  background-image: url('/static/wui/image/warning-box/border-center-center-decorated.png');
  background-repeat: repeat-x;
}

.warning-message > tbody > tr > .border-right
{
  vertical-align: top;
  background-image: url('/static/wui/image/warning-box/border-center-right.png');
  background-repeat: repeat-y;
}

/* information message */

.information-message 
{
  color: white;
  width: 100%;
  margin-bottom: 6px;
}

.information-message > thead > tr
{
  height: 2px;
}

.information-message > thead > tr > .border-left
{
  width: 2px;
  background-image: url('/static/wui/image/information-box/border-top-left.png');
  background-repeat: no-repeat;
}

.information-message > thead > tr > .border-center
{
  background-image: url('/static/wui/image/information-box/border-top-center.png');
  background-repeat: repeat-x;
}

.information-message > thead > tr > .border-right
{
  width: 2px;
  background-image: url('/static/wui/image/information-box/border-top-right.png');
  background-repeat: no-repeat;
}

.information-message > tfoot > tr
{
  height: 2px;
}

.information-message > tfoot > tr > .border-left
{
  width: 2px;
  background-image: url('/static/wui/image/information-box/border-bottom-left.png');
  background-repeat: no-repeat;
}

.information-message > tfoot > tr > .border-center
{
  background-image: url('/static/wui/image/information-box/border-bottom-center.png');
  background-repeat: repeat-x;
}

.information-message > tfoot > tr > .border-right
{
  width: 2px;
  background-image: url('/static/wui/image/information-box/border-bottom-right.png');
  background-repeat: no-repeat;
}

.information-message > tbody > tr > .border-left
{
  background-image: url('/static/wui/image/information-box/border-center-left.png');
  background-repeat: repeat-y;
}

.information-message > tbody > tr > .border-center
{
  padding: 2px 5px 3px 5px;
  background-color: #075122;
  background-image: url('/static/wui/image/information-box/border-center-center-decorated.png');
  background-repeat: repeat-x;
}

.information-message > tbody > tr > .border-right
{
  background-image: url('/static/wui/image/information-box/border-center-right.png');
  background-repeat: repeat-y;
}

/* command-bar */

.command-bar .command
{
  margin-right: 3px;
}

.command-bar .button-border
{
  margin-right: 6px;
}

.command-bar .button-border > thead > tr
{
  height: 0px;
}

.command-bar .button-border > tbody > tr > .border-left > .decoration
{
  width: 8px;
  height: 31px;
}  

.command-bar .button-border > tbody > tr > .border-left
{
  background-image: url('/static/wui/image/button/background-left.png');
  background-repeat: no-repeat;
}

.command-bar .button-border > tbody > tr > .border-center
{
  background-image: url('/static/wui/image/button/background-center.png');
  background-repeat: repeat-x;
}

.command-bar .button-border > tbody > tr > .border-center > .command
{
  margin-top: -3px;
  float: left;
}

.command-bar .button-border > tbody > tr > .border-right > .decoration
{
  width: 8px;
  height: 31px;
}  

.command-bar .button-border > tbody > tr > .border-right
{
  background-image: url('/static/wui/image/button/background-right.png');
  background-repeat: no-repeat;
}

.command-bar .button-border > tfoot > tr
{
  height: 0px;
}

/* Menu */

.menu-border
{
  color: white;
  width: 100%;
  margin-top: 6px;
  width: auto;
}

.menu-border > thead > tr
{
  height: 2px;
}

.menu-border > thead > tr > .border-left
{
  width: 10px;
  background-image: url('/static/wui/image/menu-box/border-top-left.png');
  background-repeat: no-repeat;
}

.menu-border > thead > tr > .border-center
{
  background-image: url('/static/wui/image/menu-box/border-top-center.png');
  background-repeat: repeat-x;
}

.menu-border > thead > tr > .border-right
{
  width: 10px;
  background-image: url('/static/wui/image/menu-box/border-top-right.png');
  background-repeat: no-repeat;
}

.menu-border > tfoot > tr
{
  height: 13px;
}

.menu-border > tfoot > tr > .border-left
{
  width: 10px;
  background-image: url('/static/wui/image/menu-box/border-bottom-left.png');
  background-repeat: no-repeat;
}

.menu-border > tfoot > tr > .border-center
{
  background-image: url('/static/wui/image/menu-box/border-bottom-center.png');
  background-repeat: repeat-x;
}

.menu-border > tfoot > tr > .border-right
{
  width: 10px;
  background-image: url('/static/wui/image/menu-box/border-bottom-right.png');
  background-repeat: no-repeat;
}

.menu-border > tbody > tr > .border-left
{
  background-image: url('/static/wui/image/menu-box/border-center-left.png');
  background-repeat: repeat-y;
}

.menu-border > tbody > tr > .border-center
{
  /*padding: 2px 5px 3px 5px;*/
  padding-top: 5px;
  vertical-align: top;
  background-color: #2e4d5c;
  background-image: url('/static/wui/image/menu-box/border-center-center.png');
  background-repeat: repeat-x;
}

.menu-border > tbody > tr > .border-right
{
  background-image: url('/static/wui/image/menu-box/border-center-right.png');
  background-repeat: repeat-y;
}

/* ajax */

.ajax-target
{
  opacity: 0.5;
}

.reference.ajax-target
{
  position: relative;
  left: -22px;
  padding-left: 22px;
  background-image: url('/static/wui/image/ajax-request-in-progress.gif');
  background-repeat: no-repeat;
  background-position: left center;
  cursor: wait;
}

.ajax-request-in-progress
{
  opacity: 0.5;
  position: absolute;
  background-image: url('/static/wui/image/ajax-request-in-progress.gif');
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1000;
  cursor: wait;
}

span .ajax-request-in-progress
{
  background-image: none;
}
