/* external link */

a.external-link
{
  padding-right: 12px;
  background-image: url("/static/wui/icons/10x10/arrow-out.png");
  background-repeat: no-repeat;
  background-position: right center;
  color: darkblue;
}

.external-link:hover
{
  text-decoration: underline;
}

/* lisp form */

.lisp-form {
  font-family: Courier New;
}

.lisp-form .token {
  font-style: italic;
}

.lisp-form .string {
  color: darkgreen;
}

.lisp-form .number {
  color: darkgreen;
}

.lisp-form .lambda-list-keyword {
  color: darkblue;
}

.lisp-form .special-form {
  color: darkred;
}

.lisp-form .definition .def {
  color: darkred;
}

.lisp-form .definition .kind {
  color: darkblue;
  font-weight: bold;
}

.lisp-form .definition .name {
  color: darkred;
  font-weight: bold;
}

/* book */

.book .title {
  font-size: 24px;
}

.chapter .title {
  font-size: 18px;
}

/* tree */

.node.level-0
{
  padding-left: 0em;
}

.node.level-1
{
  padding-left: 1em;
}

.node.level-2
{
  padding-left: 2em;
}

.node.level-3
{
  padding-left: 3em;
}

.node.level-4
{
  padding-left: 4em;
}

/* odd even */

tr.odd-row {
  background-color: #ddffdd;
}

tr.even-row {
  background-color: #ffffff;
}

tr.selected {
  background-color: #bbbbbb;
}

tr.selected.highlighted {
  background-color: #bbbbbb;
}

tr.selected.highlighted.odd-row {
  background-color: #bbbbbb;
}

tr.selected.highlighted.even-row {
  background-color: #bbbbbb;
}

tr.highlighted {
  background-color: #ffee88;
}

tr.highlighted.even-row {
  background-color: #ccffff;
}

tr.highlighted.odd-row {
  background-color: #ddddff;
}

/* table */

table
{
  border-collapse: collapse;
}

th
{
  background-color: lightgray;
  border-style: solid;
  border-width: 1px;
}

td
{
  vertical-align: top;
}

/* tree */

table.tree > tbody > tr > td.expander img
{
  padding-right: 6px;
}

table.tree > tbody > tr > td > .non-expandable
{
  padding-left: 17px; /* 11px missing img + 6px right padding */
}

table.tree > tbody > tr.level-0 > td.expander
{
  padding-left: 0em;
}

table.tree > tbody > tr.level-1 > td.expander
{
  padding-left: 1em;
}

table.tree > tbody > tr.level-2 > td.expander
{
  padding-left: 2em;
}

table.tree > tbody > tr.level-3 > td.expander
{
  padding-left: 3em;
}

table.tree > tbody > tr.level-4 > td.expander
{
  padding-left: 4em;
}

table.tree > tbody > tr.level-5 > td.expander
{
  padding-left: 5em;
}

table.tree > tbody > tr.level-6 > td.expander
{
  padding-left: 6em;
}

table.tree > tbody > tr.level-7 > td.expander
{
  padding-left: 7em;
}

table.tree > tbody > tr.level-8 > td.expander
{
  padding-left: 8em;
}

table.tree > tbody > tr.level-9 > td.expander
{
  padding-left: 9em;
}

/*
  standard-object-tree-nested-box
*/

.standard-object-tree-nested-box table
{
  margin: 1em;
}

/* this screws up opera
.standard-object-tree-nested-box table.node
{
  width: 100%;
}
*/

.standard-object-tree-nested-box .leaf td
{
  border-style: none;
}

.standard-object-tree-nested-box td
{
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
}

.standard-object-tree-nested-box .node thead
{
  background-color: lightskyblue;
}

/*
  extended-table
*/

table.extended-table
{
  border-style: solid;
  border-width: 1px;
}

table.extended-table > tbody > tr > td
{
  vertical-align: middle;
  text-align: center;
}

table.extended-table > tbody> tr > td.header
{
  background-color: lightgreen;
  padding: 3px;
  border-style: dotted;
  border-width: 1px;
}

table.extended-table > tbody > tr > td.axis
{
  background-color: lightgreen;
}

table.extended-table > tbody > tr > td.separator
{
  background-color: yellow;
}

table.extended-table > tbody > tr > td.row-tooltip
{
  background-color: yellow;
  height: 5px;
  border-style: solid;
  border-width: 1px;
}

table.extended-table > tbody > tr > td.column-tooltip
{
  background-color: yellow;
  width: 5px;
  border-style: solid;
  border-width: 1px;
}

table.extended-table > tbody > tr > td.data
{
  padding: 3px;
  border-style: dotted;
  border-width: 1px;
}

table.extended-table > tbody > tr > td.hidden
{
  background-color: lightgray;
}

table.extended-table > tbody > tr > td.total
{
  font-weight: bold;
  padding: 3px;
  background-color: yellow;
  border-style: solid;
  border-width: 1px;
}

/*
  command bar
*/

.command-bar a
{
  margin-right: 1em;
}

/*
  frame size breakdown
*/

table.frame-size-breakdown
{
  margin: 10px;
}

table.frame-size-breakdown > tbody > tr.total-row
{
  font-weight: bold;
}

table.frame-size-breakdown > tbody > tr > td.last
{
  color: gray;
}

table.frame-size-breakdown > tbody > tr > td.delta
{
  color: gray;
}

/*
  file download
*/

.file-download .missing-file
{
  color: red;
}

/*
  filter
*/
.ignore-in-filter
{
  opacity: 0.3;
}

/*
  filter predicate
*/

.predicate-equal {
  background-image: url("/static/wui/icons/20x20/equal-sign.png");
  width: 20px;
  height: 20px;
}

.predicate-like {
  background-image: url("/static/wui/icons/20x20/tilde.png");
  width: 20px;
  height: 20px;
}

.predicate-less-than {
  background-image: url("/static/wui/icons/20x20/less-than-sign.png");
  width: 20px;
  height: 20px;
}

.predicate-less-than-or-equal {
  background-image: url("/static/wui/icons/20x20/less-than-or-equal-sign.png");
  width: 20px;
  height: 20px;
}

.predicate-greater-than {
  background-image: url("/static/wui/icons/20x20/greater-than-sign.png");
  width: 20px;
  height: 20px;
}

.predicate-greater-than-or-equal {
  background-image: url("/static/wui/icons/20x20/greater-than-or-equal-sign.png");
  width: 20px;
  height: 20px;
}

/**
  icon
 */

.icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding-left: 24px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-repeat: no-repeat;
  background-position: left center;
}

.login-icon {
  background-image: url("/static/wui/icons/20x20/green-checkmark.png");
}

.logout-icon {
  background-image: url("/static/wui/icons/20x20/red-arrow-on-door.png");
}

.impersonalize-icon {
  background-image: url("/static/wui/icons/20x20/vcr-play-with-people.png");
}

.cancel-impersonalization-icon {
  background-image: url("/static/wui/icons/20x20/vcr-backward-with-people.png");
}

.change-password-icon {
  background-image: url("/static/wui/icons/20x20/green-checkmark.png");
}

.refresh-component-icon {
  background-image: url("/static/wui/icons/20x20/ying-yang-arrows.png");
}

.edit-icon {
  background-image: url("/static/wui/icons/20x20/pen-on-document.png");
}

.save-icon {
  background-image: url("/static/wui/icons/20x20/disc-on-document.png");
}

.cancel-icon {
  background-image: url("/static/wui/icons/20x20/yellow-x.png");
}

.store-icon {
  background-image: url("/static/wui/icons/20x20/disc-on-document.png");
}

.revert-icon {
  background-image: url("/static/wui/icons/20x20/yellow-x.png");
}

.new-icon {
  background-image: url("/static/wui/icons/20x20/document.png");
}

.create-icon {
  background-image: url("/static/wui/icons/20x20/disc-on-document.png");
}

.delete-icon {
  background-image: url("/static/wui/icons/20x20/red-x.png");
}

.close-icon {
  background-image: url("/static/wui/icons/20x20/red-x.png");
}

.focus-in-icon {
  background-image: url("/static/wui/icons/20x20/blue-all-direction-arrows.png");
}

.focus-out-icon {
  background-image: url("/static/wui/icons/20x20/green-double-left-arrow.png");
}

.open-in-new-frame-icon {
  background-image: url("/static/wui/icons/20x20/split-vertically.png");
}

.back-icon {
  background-image: url("/static/wui/icons/20x20/green-double-left-arrow.png");
}

.expand-component-icon {
  background-image: url("/static/wui/icons/20x20/arrowhead-right.png");
}

.collapse-component-icon {
  background-image: url("/static/wui/icons/20x20/arrowhead-down.png");
}

.expand-reference-icon {
  background-image: url("/static/wui/icons/20x20/magnifier-plus.png");
}

.collapse-to-reference-icon {
  background-image: url("/static/wui/icons/20x20/magnifier-minus.png");
}

.first-icon {
  background-image: url("/static/wui/icons/20x20/vcr-begin.png");
}

.previous-icon {
  background-image: url("/static/wui/icons/20x20/vcr-backward.png");
}

.next-icon {
  background-image: url("/static/wui/icons/20x20/vcr-forward.png");
}

.last-icon {
  background-image: url("/static/wui/icons/20x20/vcr-end.png");
}

.use-in-filter {
  background-image: url("/static/wui/icons/20x20/checkmark.png");
}

.ignore-in-filter {
  background-image: url("/static/wui/icons/20x20/checkmark.png");
}

.filter-icon {
  background-image: url("/static/wui/icons/20x20/binocular.png");
}

.find-icon {
  background-image: url("/static/wui/icons/20x20/binocular.png");
}

.set-to-nil-icon {
  background-image: url("/static/wui/icons/20x20/unplug.png");
}

.set-to-unbound-icon {
  background-image: url("/static/wui/icons/20x20/unplug.png");
}

.select-icon {
  background-image: url("/static/wui/icons/20x20/checkmark.png");
}

.equal-icon {
  background-image: url("/static/wui/icons/20x20/equal-sign.png");
}

.like-icon {
  background-image: url("/static/wui/icons/20x20/tilde.png");
}

.<-icon {
  background-image: url("/static/wui/icons/20x20/less-than-sign.png");
}

.<=-icon {
  background-image: url("/static/wui/icons/20x20/less-than-or-equal-sign.png");
}

.>-icon {
  background-image: url("/static/wui/icons/20x20/greater-than-sign.png");
}

.>=-icon {
  background-image: url("/static/wui/icons/20x20/greater-than-or-equal-sign.png");
}

.negated-icon {
  background-image: url("/static/wui/icons/20x20/thumb-down.png");
}

.ponated-icon {
  background-image: url("/static/wui/icons/20x20/thumb-up.png");
}

.view-icon {
  background-image: url("/static/wui/icons/20x20/eye.png");
}

.finish-icon {
  background-image: url("/static/wui/icons/20x20/checkmark.png");
}

.download-icon {
  background-image: url("/static/wui/icons/20x20/file-download.png");
}

.upload-icon {
  background-image: url("/static/wui/icons/20x20/file-upload.png");
}

.diagram-icon {
  background-image: url("/static/wui/icons/20x20/eye.png");
}

.export-csv-icon {
  background-image: url("/static/wui/icons/20x20/document.png");
}

.export-pdf-icon {
  background-image: url("/static/wui/icons/20x20/pdf-document.png");
}

.export-odf-icon {
  background-image: url("/static/wui/icons/20x20/document.png");
}

.switch-to-tab-page-icon {
  background-image: url("/static/wui/icons/20x20/eye.png");
}

.rotate-clockwise-icon {
  background-image: url("/static/wui/icons/20x20/clockwise-arrow.png");
}

.rotate-counter-clockwise-icon {
  background-image: url("/static/wui/icons/20x20/counter-clockwise-arrow.png");
}

.move-up-icon {
  background-image: url("/static/wui/icons/20x20/up-arrow.png");
}

.move-down-icon {
  background-image: url("/static/wui/icons/20x20/down-arrow.png");
}

.move-left-icon {
  background-image: url("/static/wui/icons/20x20/left-arrow.png");
}

.move-right-icon {
  background-image: url("/static/wui/icons/20x20/right-arrow.png");
}

.menu-icon {
  background-image: url("/static/wui/icons/20x20/open-folder.png");
}

.start-process-icon {
  background-image: url("/static/wui/icons/20x20/vcr-play.png");
}

.continue-process-icon {
  background-image: url("/static/wui/icons/20x20/vcr-play.png");
}

.cancel-process-icon {
  background-image: url("/static/wui/icons/20x20/red-x.png");
}

.pause-process-icon {
  background-image: url("/static/wui/icons/20x20/stop-sign.png");
}

.restart-cluster-node-icon {
  background-image: url("/static/wui/icons/20x20/vcr-play.png");
}

.startup-cluster-node-icon {
  background-image: url("/static/wui/icons/20x20/vcr-play.png");
}

.shutdown-cluster-node-icon {
  background-image: url("/static/wui/icons/20x20/stop-sign.png");
}

.generate-new-password-icon {
  background-image: url("/static/wui/icons/20x20/pen-on-document.png");
}

.evaluate-form-icon {
  background-image: url("/static/wui/icons/20x20/vcr-play.png");
}
