/* odd even */

tr.odd-row {
  background-color: #ddffdd;
}

tr.even-row {
  background-color: #ffffff;
}

tr.selected {
  background-color: #bbbbbb;
}

tr.selected.highlighted.odd-row {
  background-color: #bbbbbb;
}

tr.selected.highlighted.even-row {
  background-color: #bbbbbb;
}

tr.highlighted.even-row {
  background-color: #ccffff;
}

tr.highlighted.odd-row {
  background-color: #ddddff;
}

/* table */

table
{
    border-collapse: collapse;
}

th
{
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

td
{
    vertical-align: top;
}

/*
  command bar
*/

.command-bar a
{
    margin-right: 1em;
}
