
a:link,
a:visited
{
  color: inherit;
}

.debug-component
{
    padding: 1px;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
}

.debug-component-name
{
    font-size: 10px;
    color: purple;
}

.missing-resource
{
    color: #ff0000;
}

/*
   list container
*/

table.list.vertical
{
    width: 100%;
}

div.list.horizontal > div
{
  display: block;
  float: left;
}

div.list.vertical > div
{
  display: block;
}

/*
  standard-object-tree-nested-box
*/

.standard-object-tree-nested-box table
{
    margin: 1em;
}

/* this screws up opera
.standard-object-tree-nested-box table.node
{
    width: 100%;
}
*/

.standard-object-tree-nested-box .leaf td
{
    border-style: none;
}

.standard-object-tree-nested-box td
{
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
}

.standard-object-tree-nested-box .node thead
{
    background-color: lightskyblue;
}

/*
  standard object
*/

.standard-object > table.list
{
    /* this is needed when used in tooltips */
    width: auto;
}

/*
  standard object list
*/

.standard-object-list > table.list
{
    /* this is needed when used in tooltips */
    width: auto;
}

/*
  command bar
*/

.command-bar td
{
    white-space: nowrap;
}
