.debug-component
{
    padding: 1px;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
}

.debug-component-name
{
    font-size: 10px;
    color: purple;
}

.missing-resource
{
    color: #ff0000;
}

/*
   list container
*/

table.list.vertical
{
    width: 100%;
}

div.list.horizontal > div
{
  display: block;
  float: left;
}

div.list.vertical > div
{
  display: block;
}

/*
  hierarchy
*/

.hierarchy table
{
    margin: 10px;
}

.hierarchy .leaf td
{
    border-style: none;
}

.hierarchy td
{
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
}

.hierarchy .node thead
{
    background-color: lightskyblue;
}

/*
  standard object
*/

.standard-object > table.list
{
    /* this is needed when used in tooltips */
    width: auto;
}

/*
  standard object list
*/

.standard-object-list > table.list
{
    /* this is needed when used in tooltips */
    width: auto;
}
