a:link,
a:visited
{
  color: inherit;
}

td._hra
{
  text-align: right;
}

td._hca
{
  text-align: center;
}

td._vba
{
  vertical-align: bottom;
}

td._vta
{
  vertical-align: top;
}

td._nw
{
  white-space: nowrap;
}

.debug-component-hierarchy
{
  padding: 1px;
  border-color: lightgray;
  border-width: 1px;
  border-style: solid;
}

.debug-component-hierarchy .class-name
{
  font-size: 10px;
  color: purple;
}

.missing-resource
{
  color: #ff0000;
}

/*
   list container
*/

table.list.vertical
{
  width: 100%;
}

table.list > tbody > tr > td
{
  padding: 0px;
}

div.list.horizontal > div
{
  display: block;
  float: left;
}

div.list.vertical > div
{
  display: block;
}

/*
  standard object
*/

.standard-object-inspector > table.list
{
  /* this is needed when used in tooltips */
  width: auto;
}

/*
  standard object list
*/

.standard-object-list > table.list
{
  /* this is needed when used in tooltips */
  width: auto;
}

/*
  command bar
*/

.command-bar td
{
  white-space: nowrap;
}

/*
  command
*/

.command
{
  cursor: pointer;
}

.command:hover span
{
  text-decoration: underline;
}

/*
  failed to load help
*/

/* KLUDGE: _failed-to-load is the value of +page-failed-to-load-id+ */
#_failed-to-load
{
  margin: 1em;
}

#_failed-to-load a
{
  font-size: x-large;
  text-decoration: underline;
}

#_failed-to-load h1
{
  margin: 1em;
}
