/**
 * Text styles.
 */

.book.text.inspector > .title {
  font-size: 24px;
}

.chapter.text.inspector > .title {
  font-size: 16px;
}

.chapter.text.inspector .chapter.text.inspector > .title {
  font-size: 14px;
}

.text.inspector .title {
  font-family: Arial;
  text-shadow: #377d9b 1px 1px 1px;
}

.text.inspector .author {
  font-family: Times New Roman;
  font-size: 12px;
  padding-left: 12px;
}
